.hover-underline {
  position: relative;
  text-decoration: none;
  color: #000; /* Change to your desired color */
}

.hover-underline:hover {
  text-decoration: none; /* Remove default underline */
}

.hover-underline:after {
  content: '';
  display: block;
  width: 100%;
  height: 2px; /* Thickness of the underline */
  background: #000; /* Color of the underline */
  position: absolute;
  left: 0;
  bottom: -5px; /* Positioning of the underline */
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.hover-underline:hover:after {
  transform: scaleX(1); /* Scale the underline on hover */
}

/* Style for the recipe image */
.recipe-image {
  border-radius: 10px; /* Add border radius to the image */
  max-height: 500px;
  max-width: 800px; /* Increase max width for larger images */
  margin: auto; /* Center the image */
}

/* Carousel button styles */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5); /* Dark background for buttons */
  border-radius: 50%; /* Make buttons circular */
}

.carousel-control-prev,
.carousel-control-next {
  filter: brightness(2); /* Increase brightness to make buttons visible */
}
#recipeCarousel{
  background-color: rgb(243, 243, 243);
}
.carousel-item{
  box-shadow: #414040;
}
.recipe-image {
  object-fit: cover; /* Ensures the image covers the container without distortion */
  height: auto; /* Maintains aspect ratio */
}
