<h1>Today's Special</h1>
<hr class="my-3" style="width: 90%; margin: 0 auto; height: 2px; background-color: black; border: none;">
<hr class="my-3" style="width: 50%; margin: 0 auto; height: 2px; background-color: black; border: none;">
<div class="app-carousel"><app-carousel></app-carousel></div>
<h1>Our Collection</h1>
<hr class="my-3" style="width: 90%; margin: 0 auto; height: 2px; background-color: black; border: none;">
<hr class="my-3" style="width: 50%; margin: 0 auto; height: 2px; background-color: black; border: none;">
<div class="app-recipe-card"><app-recipe-card></app-recipe-card></div>

