<div *ngIf="loading" class="text-center">
  <div class="spinner-border" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="!loading" class="recipe-grid">
  <div *ngFor="let recipe of recipes" class="recipe-card">
    <img [src]="recipe.image" alt="{{ recipe.title }}" class="recipe-image" />
    <h5 class="recipe-title">
      <a [routerLink]="['/recipe-detail', recipe.id]" class="text-dark hover-underline">
        {{ recipe.title }}
      </a>
    </h5>
  </div>
</div>
